 /*style tronów i pól z krzyżykami zdefiniowane w arkuszu JS*/

@font-face
{
	font-family: 'Norse';
	src: url(fonts/Norse.otf);
}

@font-face {
      font-family: 'logout';
      src: url('./font/logout.eot?76715244');
      src: url('./font/logout.eot?76715244#iefix') format('embedded-opentype'),
           url('./font/logout.woff?76715244') format('woff'),
           url('./font/logout.ttf?76715244') format('truetype'),
           url('./font/logout.svg?76715244#logout') format('svg');
      font-weight: normal;
      font-style: normal;
    }

body
{
	background-color: #000000;
/*
========================================================
 This pattern is downloaded from www.subtlepatterns.com
 If you need more, that's where to get'em.
 ========================================================
*/
	background-image: url("../img/dark_wood.png");
	color: #ffffff;
	font-family: 'Ubuntu', 'Verdana', 'sans';
	text-align: center;
}

h1
{
	font-family: 'Norse';
}

h1
{
	font-size: 2rem;
}

a:link
{
	color: inherit;
}

a:visited
{
	color: inherit;
}

.empty
{
	clear:both;
}

ul	{
	margin: 20px auto;
	list-style: circle inside none;
	padding: 0;
}

li
{

}

.userbar	{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #303030;
}

#userbar__login
{
	text-align: left;
	flex-grow: 6;
}

.userbar__link
{
	margin: 7px;
}


#container
{
	max-width: 100%;
}

header
{
	background-color: #404040;
	color: white;
	text-shadow: 1px 1px 2px black;
}

/* żeby link obejmował cały header, musisz przenieść padding do linka */

.header__link	{
	text-decoration: none;
	display: block;
	height: 100%;
}

.menu
{
	display: flex;
	align-content: stretch;
	background-color: #777777;
	color: #191919;
	padding: 1vmin;
}

.menu__button
{
	flex: 1;
	display: block;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu__button:hover
{
	background-color: #AAAAAA;
	box-shadow: 0 0 2px 3px #666666;
}

.menu__button:active
{
	background-color: #AAAAAA;
	box-shadow: 0 0 2px 3px #666666;
}


#player
{
	text-align: center;
}

#content
{
	background-color: #101010;
	line-height: 1.5;
}

.error
{
	background-color: #FFCCCC;
	font-weight: bold;
	color: #990000;
	border: medium solid red;
	padding: 7px;
	margin: 30px;
}

#game	{
	display: grid;
}

#current_player
{
	text-align: center;
	padding: 10px 0 10px 0;
	background-color: #404040;
	text-shadow: 1px 1px 3px black;
	grid-area: player;
}

.side_header
{
	background-color: #232323;
	padding: 12px;
	margin-top: 10px;
}

.zbite
{
	margin-bottom: 10px;
	background-color: #232323;

}

#left	{
	grid-area: white;
}

#board	{
	text-align: center;
	margin: auto;
	grid-area: board;
	display: grid;
}

.throne	{
	background-image: url(../img/throne.png);
}

.x	{
	background-image: url(../img/x.png);
}

.gamepiece_img	{
	width: 100%;
	max-width: 9vw;
}

#right	{
	grid-area: black;
}

.board__cell
{
	border: 1px solid gray;
	margin: -1px 0 0 -1px;
	background-color: #444444;
	background-size: 100%;
	border-collapse: collapse;
}

.able
{
	cursor: pointer;
}

.able:hover
{
	background-color: darkolivegreen;
}

.chosen
{
	background-color: gray;
}

.board--example	{
	display: grid;
	grid-template-columns: repeat(3, 8.7vmin);
	grid-template-rows: 8.7vmin;
	width: 26.1vmin;
	margin: 20px auto;
}

.table
{
	border-collapse: collapse;
	table-layout: auto;
}

/* przyciski na stronie usera */
.bttn
{
	padding: 10px;
}

.bttn:hover
{
	background-color: #222222;
	cursor: pointer;
}

.disabled_bttn
{
	padding: 10px;
	opacity: 0.2;
}

.message
{
	background-color: #99FF66;
	font-weight: bold;
	color: #006600;
	border: medium solid #006600;
	padding: 7px;
	margin: 30px;
}

footer
{
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #101010;
	color: #404040;
}

.warning
{
	color: red;
}
