

	.userbar
	{
		margin: 30px auto 30px auto;
	}

	.userbar__login	{
	}

	.userbar__link	{
	}

	.userbar, header, .menu, footer	{
		width: 80%;
	}

	header
	{
		margin: 40px auto 0 auto;
		padding: 15px 0;
	}

	.menu
	{
		margin: 10px auto;
		padding: 0;
	}

	.menu__button
	{
		padding: 10px;
		margin: 5px;
	}

	#player
	{
		width: 60%;
	}

	#content
	{
		width: 70%;
		margin: 0 10%;
		padding: 20px 5% 20px 5%;
	}

	#game
	{
		margin: 20px auto;
		text-align: center;
		grid-template-columns: auto 660px auto;
		grid-template-rows:    repeat(3, auto);
		grid-template-areas: "player player player" "white board black";
	}

	#current_player	{
		width: 660px;
		margin: 0 auto 15px;
	}

	.gamepiece_img	{
		width: 60px;
	}

	.side_header	{
		margin-bottom: 10px;
	}

	.zbite	{
		margin-top: 20px;
		padding: 9px;
	}

	.side
	{
		float: left;
		width: 200px;
		margin: 0 30px 30px 30px;
	}

	#left	{
		margin-left: auto;
	}

	#board
	{
		grid-template-rows:    repeat(11, 60px);
		grid-template-columns: repeat(11, 60px);
	}

	#right	{
		margin-right: auto;
	}

	table
	{
		width: 600px;
	}

	.board--example	{
		grid-template-columns: repeat(3, 60px);
		grid-template-rows: 60px;
		width: 180px;
	}

	footer
	{
		margin: 40px 10%;
	}

	#surrender	{
	grid-column: 2 / span 1;
}
