

    header {
      padding-top: 3px;
      padding-bottom: 3px;
      margin: 15px auto;
      max-width: 97vmin;
    }

    .menu {
      max-width: 97vmin;
      margin-left:auto;
  		margin-right:auto;
  		margin-top: 10px;
  		margin-bottom: 10px;
  		padding: 0;
    }

    .menu__button
  	{
  		padding-top: 10px;
  		padding-bottom: 10px;
  		margin: 5px;
  	}

    #game
    {
      margin: auto;
      margin-top: 20px;
      padding: auto;
      text-align: center;
      grid-template-areas: "player" "white" "board" "black";
    }

    #current_player
    {
      margin-bottom:15px;
      width: 97vmin;
      margin-right: auto;
      margin-left: auto;
    }

    #board
    {
    	grid-template-columns: repeat(11, 8.7vmin);
      grid-template-rows:    repeat(11, 8.7vmin);
    }

    .side_header {
      padding: 10px 0;
      max-width: 97vmin;
      margin: 20px auto 20px auto;
    }

    .zbite {
      padding: 4px 0;
      max-width: 97vmin;
      margin: 0 auto 20px auto;
    }

    .gamepiece_img	{
    	width: 100%;
    	max-width: 8.7vw;
    }
