### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule graj index.php
RewriteRule logowanie enter.php
RewriteRule zasady-gry rules.php
RewriteRule twoje-konto account.php
RewriteRule rozgrywki account.php#games
