
.icon-mail:before { content: '\e800'; } /* '' */
.icon-mail-1:before { content: '\e801'; } /* '' */
.icon-mail-2:before { content: '\e802'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */
.icon-mail-3:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */